.root {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #000000, #757575);
}

.button {
	-fx-background-color: transparent;
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 24px;
    -fx-text-fill: #79b4d1;
    -fx-border-color: #79b4d1;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 4px;
    -fx-padding: 8 16 8 16;
    
}

.button:hover {
	-fx-background-color: #535d6e;
	-fx-background-radius: 4px;
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 24px;
    -fx-text-fill: #79b4d1;
    -fx-border-color: #79b4d1;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 4px;
    -fx-padding: 8 16 8 16;
}

.button:pressed {
	-fx-background-color: #535d6e;
	-fx-background-radius: 4px;
	-fx-background-insets: 10;
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 24px;
    -fx-text-fill: #79b4d1;
    -fx-border-color: #79b4d1;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 4px;
    -fx-padding: 8 16 8 16;
}

.text-field {
	-fx-text-box-border: transparent;
	-fx-control-inner-background: #4a4a4a;
	-fx-faint-focus-color: transparent;
	-fx-border-color: #79b4d1;
	-fx-border-width: 2;
    -fx-border-radius: 6px;
    -fx-prompt-text-fill: #b5b5b5;
    -fx-highlight-text-fill: #79b4d1;
    -fx-highlight-fill: #333b3b3b;
}

.text-field:focused {
	-fx-control-inner-background: #4a4a4a;
	-fx-faint-focus-color: #79b4d1;
	-fx-highlight-text-fill: #79b4d1;
	-fx-highlight-fill: #333b3b3b;
}

.text-area {
	-fx-text-box-border: transparent;
	-fx-control-inner-background: #4a4a4a;
	-fx-faint-focus-color: #79b4d1;
	-fx-border-color: #79b4d1;
	-fx-border-width: 2;
    -fx-border-radius: 6px;
    -fx-prompt-text-fill: #b5b5b5;
    -fx-highlight-text-fill: #79b4d1;
    -fx-highlight-fill: #333b3b3b;
}

.text-area:focused {
	-fx-control-inner-background: #4a4a4a;
	-fx-faint-focus-color: #79b4d1;
	-fx-highlight-text-fill: #79b4d1;
	-fx-highlight-fill: #333b3b3b;
}

.cell:empty {
	-fx-background-color: #4a4a4a;
	-fx-font-size: 18px;
}

.cell:filled {
	-fx-background-color: #4a4a4a;
	-fx-font-size: 18px;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
}

.cell:selected {
	-fx-background-color: #303030;
	-fx-font-size: 18px;
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: #79b4d1;
}

.list-view {
	-fx-border-color: #79b4d1;
	-fx-border-width: 2;
    -fx-border-radius: 6px;
    -fx-background-color: #4a4a4a;
}

.scroll-bar {
	-fx-background-color: black;
}

.thumb {
	-fx-background-color: #707070;
}

.thumb:pressed {
	-fx-background-color: #575757;
}

.menu-button { 
	-fx-background-color: transparent;
    -fx-border-color: #79b4d1;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 4px;
    -fx-padding: 8 16 8 16;
}

.menu-button:hover {
	-fx-background-color: #535d6e;
	-fx-background-radius: 4px;
    -fx-border-color: #79b4d1;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 4px;
    -fx-padding: 8 16 8 16;
}

.menu-button:showing {
	-fx-background-color: #535d6e;
	-fx-background-radius: 4px;
	-fx-background-insets: 10;
    -fx-border-color: #79b4d1;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 4px;
    -fx-padding: 8 16 8 16;
}

.menu-button .arrow {
    -fx-background-color: #79b4d1;
}

.context-menu {
    -fx-background-color: #4a4a4a;
    -fx-border-color: #4a4a4a;
}

.menu-item .label {
	-fx-background-color: #4a4a4a;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

